.body {
  margin: 0;
}

.keyboard__wrapper {
  margin: 0 auto;
  width: auto;
  height: 700px;
}

.title,
.description,
.language {
  display: block;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  color: rgb(62, 62, 62);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description,
.language {
  font-size: 12px;
  padding: 0;
}

.textarea__section {
  width: 722px;
  height: 200px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.textarea {
  width: 700px;
  height: 200px;
  padding: 10px 10px 0 10px;
  font-size: 20px;
  color: rgb(62, 62, 62);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  resize: none;
}

.keyboard__section {
  width: 700px;
  margin: 10px auto;
  
}

.keyboard {
  background: #d8d8d8;
  border: 3px solid #222222;
  border-radius: 5px;
  padding-top: 5px;
}


/* 
  buttons 
*/

.keyboard-key__button {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 1s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.keyboard-key__button:hover {
  background-color: lightcoral;
}

.Backspace, 
.CapsLock, 
.ShiftLeft {
  width: 100px;
}

.Backspace:hover, 
.CapsLock:hover, 
.ShiftLeft:hover {
  background-color:rgb(20, 93, 203);
}

.Space {
  width: 325px;
  color: rgba(0, 0, 0, 0);
}

.Space:hover {
  background-color:rgb(44, 194, 64);
}

.Enter,
.ShiftRight {
  width: 86px;
}

.Enter:hover,
.ShiftRight:hover {
  background-color:rgb(21, 173, 194);
}

.Tab {
  width: 50px;
}

.Tab:hover {
  background-color:rgb(220, 245, 94);
}

.Delete {
  width: 45px;
}

.Delete:hover {
  background-color:rgb(149, 9, 168);
}

.button-press-animation {
  border-radius: 70%;
  animation-duration: .1s;
  color: white;
  transition: all 0.2s;
}